body {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11"; 
}

html {
    scroll-behavior: smooth;
}

.card-industrial {
    transition: all 0.2s ease-in-out;
}

.card-industrial:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.02);
    border-color: #cbd5e1; 
}


.btn-industrial-minus,
.btn-industrial-plus,
.btn-industrial-on,
.btn-industrial-off {
    font-weight: 700;
    font-size: 0.875rem; 
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem;
    border-radius: 0.5rem; 
    transition: all 0.15s ease-in-out;
    border: 1px solid transparent;
}


.btn-industrial-minus,
.btn-industrial-plus {
    background-color: #f1f5f9; 
    color: #475569; 
    border-color: #e2e8f0; 
    font-size: 1.25rem; 
}

.btn-industrial-minus:hover,
.btn-industrial-plus:hover {
    background-color: #e2e8f0; 
    color: #0f172a; 
}

.btn-industrial-on {
    background-color: #f0fdf4; 
    color: #15803d; 
    border-color: #bbf7d0; 
}

.btn-industrial-on:hover {
    background-color: #dcfce7; 
    color: #166534; 
}


.btn-industrial-off {
    background-color: #fef2f2; 
    color: #b91c1c; 
    border-color: #fecaca; 
}

.btn-industrial-off:hover {
    background-color: #fee2e2; 
}